
.card{
    display: flex;
    align-items: center;
    width: 320px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
       animation: appear-1 ease-in-out;
    animation-timeline:view();
    animation-range: entry 5% cover 40%;
    transition: all 0.5s ease-in-out;
   pointer-events: auto;

    
}
.card-image{
    position: relative;
    width: 150px;
    height: 150px;
border-radius:50%;
background-color: rgb(0, 0, 0);
margin: 1rem 1rem;

}

.card-image img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:50%;
    border:4px solid #ffffff    ;
   

}

.overlay::before,.overlay::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color:  #4070F4;
}
.overlay::after{

    border-radius:25px 0px 0px 0px ;
     background-color: #ffffff;

}


.card-content .description{
color:gray;
font-weight: 500;
margin: 2.5rem;
height: 200px;
overflow-x: hidden;

}

.image-content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
.image-content .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 20px 20px 20px 0px;
}

.card-content .button{
    border-radius: 5px;
    margin: 1rem 1rem;
   pointer-events: auto;

}
div[class*=box] {
  
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
   pointer-events: auto;
}

.box-1 { 
   pointer-events: auto;
  
  background-color: #15dd2c; }
.btn {

    margin: 1rem 1rem;
  line-height: 15px;

  text-align: center;
  width: 250px;
  cursor: pointer;
  pointer-events: auto;
}
.btn-one {
  color: #2d6bf1;
  transition: all 0.3s;
  position: relative;
   pointer-events: auto;
}
.btn-one a {
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 500px;
  letter-spacing: 0.2rem;
  font-family: myfont;
  color: black;z-index: 4;
   pointer-events: auto;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.1, 1);
   pointer-events: none; 
}
.btn-one:hover a {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
   pointer-events: none; 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
   pointer-events: none; 

}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

.card-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10rem;
}

.slide-content{
    display: flex;
    align-items: center;
    justify-self: center;
}